*{
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
}

body{
    background-image: url("assets/fundo.svg");
}

#header{
    background-color: rgb(32, 82, 218);
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

#work{
    background-color: white;
    width: 31.25rem;
    margin: 0 auto;
    text-align: center;
}

h1,h2,h3 {
    margin: 0;
    text-transform: uppercase;
    font-family: "Gupter", serif;
}

#contact {
    list-style-type: none;
}

#contact i {
    width: 1.80rem;
    color: rgb(32, 82, 218);
}

#container {
    display: grid;
    grid-template-columns: 35% auto;
    grid-column-gap: 1.25rem;
}

#sidebar, #content {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
     }

.card {
    border: 0.0625rem solid rgb(184, 182, 182);
    border-radius: 10px;
    padding: 1.25rem;
}